*{
    padding: 20; 
    margin: 0; 
    box-sizing: border-box;
}

header{
    background-color: white; 
}

body{
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

h1{
    text-align: left;
    padding-top: 50px;
    padding-left: 20%;
    padding-bottom: 70px;
    font-size: 100px;
    font-family: 'Quicksand';
}

.replace_with_slideshow{
    z-index: -1;
}
