.logo{
    justify-content: center;
    align-content: center;
    display: flex; 
    flex-direction: column;  
    text-align: center;
    margin: 0px;
    width: 200px; 
}

.kiki{
    font-family: 'Abril Fatface', cursive;
    color: #c22c35;
    font-size: 40pt;

    
}

.bijoux{
    font-family: 'La Belle Aurore', cursive;
    color: #c22c35; 
    font-size: 15pt;
    margin-top:  -20px; 
}