
li{
    list-style-type: none; 
}

a{
    color: black; 
    text-decoration: none;
}

.barra{
    height: 145px;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0 24px;
    gap: 60px; 
    width: 100%;
    background-color: white;
    z-index: 10;


}
.left-bar{
    display: flex; 
    flex-direction: column;
    width: 100%;
    padding-top: 30px; 
}

.top{
    display: flex; 
    justify-content: flex-end;
    padding-bottom: 15px;
}

.top-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones{
    display: flex; 
    justify-content:space-between;
    align-content: center;
    gap: 20px; 
    margin-right: 70px;

    padding: 0; 
}

.withlove{
    width: 100%; 
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
    color: #c22c35; 
    font-size: 20pt;
}

.busqueda{
    color: #c22c35; 
    font-size: 20px; 
}

.carrito{
    color: #c22c35; 
    font-size: 20px; 
}


.menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 60px; 
    z-index: 1;
    padding-left: 200px;
    padding-right: 200px; 
}


.menu-link{
    transition: 0.7s ease;
    font-family: 'La Belle Aurore', cursive;
    color: #c22c35; 
    font-size: 20pt; 
}

.menu-link:hover{
    color: dodgerblue;
}


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block; 
    width: 25px; 
    height: 3px; 
    margin: 5px auto; 
    -webkit-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
    background-color:#c22c35; 
}

@media only screen and (min-device-width: 1200px){
    .barra{
        position: fixed; 
    }
}
@media(max-width:1000px){
    .hamburger{
        display:block; 
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0; 
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);  
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);  
    }

    .barra{
        height: 100px; 
        justify-content:flex-start;
        gap: 0px; 
    }
    .withlove{
        display: none; 
        height: 0px; 
    }
    .left-bar{
        width: 25px; 
        height: 100%; 
    }
    .top{
        width: 25px; 
        height: 100%; 

        justify-content: space-between;
    }

    .botones{
        display: flex; 
        margin-top: -20px; 
        margin-left: -30px; 
    }

    .menu{
        position:fixed;
        left: -150%;
        top:90px;
        gap: 0; 
        flex-direction: column; 
        background-color: white;
        width: 100%; 
        text-align: center; 
        transition: 0.3s;
        z-index: 10;
    }
    .logo_link{
        width: 100%; 
        justify-self: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin-right: 0px;
        display: flex; 
    }
    .menu-item{
        margin: 16px 0; 
    }

    .menu.active{
        left: 0; 

    }

}