.vnav{
    position: fixed; 
    margin-top: 145px; 
    z-index: 10;
    height: 100%; 
    width: 250px; 
    display: flex; 
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 180px;
    padding-left: 30px; 
}
.vnav ul{
    margin: 10px; 
}
.el-vnav{
    font-family: 'Playfair Display', serif;
    margin: 10px; 
}

.el-vnav a{
    color: #c22c35; 
}


.el-vnav a:hover{
    color: dodgerblue;
}

.socials{
    list-style: none;
    display: flex;
    align-items:left;
    justify-content: flex-start;
    margin: 1rem 0 0.5rem 0; 
    padding: 0px 0px 0px 0px; 
}

.socials li{
    margin: 0 15px 0 0px; 
}
.socials a{
    text-decoration: none;
    color: #c22c35; 
}
.socials i{
    font-size: 1rem; 
    transition: color .7s ease; 
}
.socials a:hover{
    color: dodgerblue; 
}

@media(max-width:1000px){
    .vnav{
        display: none; 
    }
}